@import '../../styles/scss/variables';

.nav-item {
    text-decoration: none;
    .nav-item-text {
        font-size: 15px;
        font-weight: 600;
        color: var(--text-color);
        cursor: pointer;
        &:hover {
            color: $hover_color
        }
    }
}